<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>

<div th:fragment="groupClassesUsersTable">
    <div th:if="${!users.empty}" >
        <table class="table">
            <thead>
            <tr>
                <th sec:authorize="(isAuthenticated() && hasRole('ADMIN'))">Username</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th sec:authorize="isAuthenticated() && hasRole('ADMIN')"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td sec:authorize="(isAuthenticated() && hasRole('ADMIN'))" th:text="${user.username}"></td>
                <td th:text="${user.firstName}"></td>
                <td th:text="${user.lastName}"></td>
                <td sec:authorize="isAuthenticated() && hasRole('ADMIN')" >
                    <a href="#" th:href="@{'/group-classes/' + ${class.id} + '/users/' + ${user.id} + '/cancel-registration'}" type="button" class="btn btn-outline-danger">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

</body>
</html>