<!doctype html>
<html th:replace="~{layouts/main :: layout(~{::main})}" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>

<main role="main">
    <div class="container">
        <div class="row">
            <div class="col-md-12 py-4">
                <h2 th:text="${trainer.firstName + ' ' + trainer.lastName} + ' users'"></h2>
            </div>
        </div>
        <div class="row d-flex justify-content-left">
            <div class="col-md-4">
                <div th:if="${message}" th:text="${message}" class="alert alert-success"></div>
            </div>
        </div>
        <div th:if="${!users.empty}" class="row">
            <div class="col-md-6">
                <table th:replace="trainer/trainersUsersTable :: trainersUsersTable"></table>
            </div>
        </div>
        <div sec:authorize="(isAuthenticated() && hasAnyRole('ADMIN'))" class="row">
            <div class="col-md-6">
                <a href="#" th:href="@{'/trainers/' + ${trainer.id} + '/users/all-available'}" type="button" class="btn btn-primary">Add User</a>
            </div>
        </div>
    </div>

</main>

</body>
</html>