<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="account-list">
    <p class="d-flex justify-content-center">Use accounts below to access and explore the system</p>

    <div class="row mb-4 d-flex justify-content-center">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Administrator</h5>
                    <h6 class="card-subtitle mb-2 text-muted">ROLE: ADMIN</h6>
                    <p class="card-text">Username: admin</p>
                    <p class="card-text">Password: admin</p>
                    <p class="card-text">Description: full access</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Jack Smith</h5>
                    <h6 class="card-subtitle mb-2 text-muted">ROLE: TRAINER</h6>
                    <p class="card-text">Username: smith</p>
                    <p class="card-text">Password: qwertyui15</p>
                    <p class="card-text">Description: restricted access</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-4 d-flex justify-content-center">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">John Watson</h5>
                    <h6 class="card-subtitle mb-2 text-muted">ROLE: USER</h6>
                    <p class="card-text">Username: watson</p>
                    <p class="card-text">Password: qwertyui12</p>
                    <p class="card-text">Description: minimal access</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Melany Brook</h5>
                    <h6 class="card-subtitle mb-2 text-muted">ROLE: USER</h6>
                    <p class="card-text">Username: brook</p>
                    <p class="card-text">Password: qwertyui13</p>
                    <p class="card-text">Description: minimal access</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Steve Green</h5>
                    <h6 class="card-subtitle mb-2 text-muted">ROLE: USER</h6>
                    <p class="card-text">Username: green</p>
                    <p class="card-text">Password: qwertyui14</p>
                    <p class="card-text">Description: minimal access</p>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
